### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin


### Folders ###
XERCES-2.8.0/
Grains/include/
Grains/obj*
Grains/lib*
Grains/DraftCodes/
Main/obj*
Main/bin*
Tools/PrePost/*/bin*
Tools/PrePost/*/obj*

### MISC ###
*.vscode
*.ncu-rep
